@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#caja {
    margin: auto;
    box-shadow: 0px 0px 0px 0px rgba(124, 124, 124, 0.1), 0px 0px 10px 5px rgba(124, 124, 124, 0.1);
    border-radius: 20px;
    display: relative;
    margin-top: 100px;
    width: 85%;
    padding: 5px;
}

#txtCorr {
    color: rgb(46, 204, 113);
    font-weight: 800;
    font-size: 22px;
    padding-top: 35px;
}

#textRecord {
    color: rgb(46, 204, 113);
    font-weight: 800;
}

#textFallos {
    color: rgb(231, 76, 60);
    font-weight: 800;
}

#txtIncorr {
    color: rgb(231, 76, 60);
    margin-top: 40px;
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#cajaFin {
    text-align: center;
    margin: auto;
    display: relative;
    margin-top: 0;
    width: 85%;
    height: 247px;
    padding: 5px;
}

.txtA,
.txtB,
.txtC {
    margin-left: 10px;
}

.flexUL {
    display: flex;
    align-items: baseline;
    margin-top: -10px;
}

#h5,
#inicio {
    color: rgb(253, 145, 22);
    font-weight: 400;
}

#margH5 {
    text-align: center;
    font-size: 25px;
}

.txtP {
    margin-top: 5px;
    font-size: 30px;
}

#btnEnv:hover {
    cursor: pointer;
}

.contI {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


/* Spiner */

.lds-ring {
    display: none;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid rgb(253, 145, 22);
    border-radius: 50%;
    animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(253, 145, 22) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
    .conT {
        max-height: 100vh;
    }
    .header {
        position: absolute;
        width: 100%;
        height: 90px;
    }
    #h1 {
        text-align: center;
        color: rgb(39, 39, 39);
        font-size: 16px;
        padding-top: 20px;
    }
    .foto {
        position: relative;
        width: 15%;
        top: 80px;
        left: 42%;
        padding: 5px 0px 25px 0px;
        z-index: 99;
    }
    .nPregunta {
        color: rgb(99, 99, 99);
        font-size: 10px;
        margin-left: 46%;
        position: relative;
        top: 65px;
        z-index: 9;
    }
    #btnEnv {
        color: white;
        display: relative;
        border: none;
        background-color: rgb(253, 145, 22);
        margin-left: 46%;
        padding: 1%;
        width: 80px;
        outline: none;
        margin-top: 30px;
    }
}